body {
    margin: 0;
}
main {
    background-color: rgba(58, 52, 52, 0.178);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.stats {
    color: #6c757d;
    margin: 5px 0;
}

.btn-main {
    width: 100%;
    background: #0c1323;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.btn-main:hover {
    background: #171f34;
}
